body{
    background-color: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#mainNavbar .navbar-brand{
    color: red;
}

#mainNavbar .nav-link{
    color: white;

}
#mainNavbar .nav-link:hover{
    color: red;
    
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}





.nav-first{
    color: red;
}
.donut{
    width: 100%;
    height: 500px;
}
.text{
color: red;
}
.lead{
    text-align: right;
    justify-content: right;
   
}
.block2{
display: flex;
align-items: center;
width: 100%;
justify-content: space-between;

}
.photo{
    padding-left: 225px;
}
.photo2{
    display: flex;
    justify-content: end;
    align-items: end;
}
.milk{
    width: 50%;
    height: 50%;
}
.text{
    font-weight: 100;
}